.body-wrapper {
  max-width: 80rem;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  justify-content: center;
  gap: 2rem;
}

.tag-wrapper {
  background-color: rgb(239, 212, 212);
}

.tag-wrapper > p {
  text-align: center;
  font-weight: 600;
}
